<html>
<head>
	<link type ="text/css" rel="stylesheet" href="/static/main.css" />
	
	<title> CS 253 Blog</title>
</head>

<body>

	<a href="/blog" class="main-title"
		>CS 253 Blog
	</a>
	<div>
        {% if userIsLoggedin %}
	<a href="/blog/newpost" >
		Add New Post
	</a>
        {% endif %}
	</div>
	<br>
	<div>
	<a href="/blog/login" >
		Login
	</a>
	</div>
    <br>
    <div>
         {% if userIsLoggedin %}
	<a href="/blog/logout" >
		Log Out
	</a>
        {% endif %}
        {% if not userIsLoggedin %}
    <a href="/blog/signup" >
		Signup as New user
	</a>
        {% endif %}
	</div>

	<br>
	<div id="content">
	{% block content %}
	{% endblock %}
	</div>
</body>
<p class="post-date">Queried {{ retrived | safe }} seconds ago</p>
</html>
